.faixa {
    /* Essa faixa fica acima do cabeçalho */
    /* É aquela faixa azul com telefone e link(botão) "Agende sua consulta" */
    align-items: center;
    background-color: var(--azul-escuro);
    display: flex;
    font-family: var(--texto);
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    justify-content: flex-end;
    width: 100%;
}

.faixa p {
    color: var(--branco);
}

.faixa a {
    align-items: center;
    background-color: var(--branco);
    border-radius: 5px;
    color: var(--azul-roxo);
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 3%;
    text-decoration: none;
    text-align: center;
    width: 208px;
}

.cabecalho__container {
    align-items: center;
    background-color: var(--branco);
    color: var(--azul-roxo);
    display: flex;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--titulo);
    height: 100px;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
}

.logo__cabecalho {
    height: 85px;
    margin-left: 3%;
    width: 235px;
}

.cabecalho__menu {
    display: flex;
}

.cabecalho__menu__lista {
    align-items: center;
    display: flex;
}

.cabecalho__menu__lista li {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 135px;
}

.cabecalho__menu__lista a {
    align-items: center;
    display: flex;
    color: var(--azul-roxo);
    text-decoration: none;
}

#menu__link__clinica {
    padding-right: 40px;
}

.cabecalho__link__login {
    align-items: center;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 3%;
    text-decoration: none;
    width: 138px;
}

/* pagina ADM - painel de controle */

#menu__link__usuario {
    padding-right: 40px;
}


