
/* medidas da faixa listrada abaixo do cabeçalho */
.faixa_listrada {
    width: 100%;
    height: 100px;
}
/* alinhamento entre a janela azul e a faixa */
.alinhamento_faixa_janela{
    width: 100%;
    height: 500px;
}
/* propriedades da janela azul lado esquerdo */
.janela_azul{
    width: 30%;
    height: 650px;
    background-color:var(--azul-escuro-light);
    border-radius: 0px 0px 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* alinhamento do conteudo dentro da janela azul */
.janela_elementos{
    display: flex;
    flex-direction: column;
}
/* estilo do conteudo da janela azul */
.texto{
    font-family: var(--titulo);
    font-weight: bold;
    margin-top: 20px;
    color: var(--branco);
    font-size: 20px;
}
/* medidas do icone adm */
.icone_adm{
    width: 226px;
    height: 226px;
    margin-bottom: 20px;
    align-items: center;
}
/* alinhamento e estilo do input - botao novo usuario */
.btn_novo_usuario{
    width: 250px;
    font-family: var(--titulo);
    font-size: 20px;
    color: var(--branco);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: var(--azul-medio-light);
    border: none;
    margin-top: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

#categoria{
    width: 200px;
    background-color: var(--azul-medio-light);
}

/* retirando sublinhado do link */
a{
    text-decoration: none;
    color: var(--branco);
}

/* parametros do input e menu suspenso */
.categoria{

}
