/* parametro para a pagina do alert */
#janela_cancelar {
    display: none;
    position: fixed;
    z-index: 1;/* posicionamento da pagina sobre a principal painel_paciente */
    left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);/* transparencia da pagina*/
}
/* estilo da janela alert */
.elem_janela {
	background-color: var(--branco);
	margin: 15% auto;
	padding: 20px;
	border: 2px solid var(--preto);
	width: 920px;
	height: 380px;
	border-radius: 15px;
}
/* estilo dos elementos dentro da janela alert */
.elem_janela {
	font-family: var(--texto);

	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-around;
}
/* posicionamento do titulo "cancelar agendamento" */
.align_close {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}
/* verificar o botao de fechar, alinhar para a direita */
#retornar {
	position: relative;
	right: 0px;
}

/* cor do subtitulo */
.elem_janela h1 {
	color: var(--vermelho);
}

/* estilo e posicionamento da primeira e segunda linha de elementos especialidade, paciente, data, hora e medico */
.align_linha {
	display: flex;
	justify-content: center;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

/* estilo dos inputs */
.elem_janela input {
	width: 200px;
	height: 40px;
	border-radius: 20px;
	border: none;
	background-color: var(--azul-claro);
}

/* aumentando os dois primeiros inputs da linha1*/
#input_ajuste {
	width: 300px;
}

/* estilo do botao confirmar (vermelho) */
#btn_confirmar {
	width: 170px;
	height: 50px;

	border-radius: 20px;
	background-color: var(--vermelho);
	color: var(--branco);
	font-family: var(--texto);
	font-size: 20px;

	align-items: center;
	justify-content: center;
}



