body{
    background-color: var(--cinza-claro);
    width: 100%;
    height: 1000px;

    font-family: var(--texto);
    font-weight: 600;
}
/* tamanho da faixa listrada */
.faixa_listrada {
    width: 100%;
}
/*tam e negrito p/ titulo */
#receita_t {
    font-size: 30px;
    font-weight: 500;
}
/* container q alinha todos os elementos do section */
.container_receita {
    width: 100%;
    height: 650px;

    display: flex;
    justify-items: center;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
/* definindo alinhamento dos dois primeiros inputs ao centro */
.linha_input {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* estilo dos inputs */
.estilo_input {
    width: 435px;
    height: 40px;

    border: 2px solid var(--preto);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* tam e linhas da tabela */
table {
    width: 1154px;
}
/* definindo tamanhos das celulas e aplicando borda na tabela */
table, tr, th, td {
    height: 30px;
    margin: 20px;
    text-align: center;
    border: 2px solid var(--preto);
}

/*#linha_agrupada {
    width: 100%;
    height: 70px;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}*/

/* alinhamento do footer */
.alinhamento_footer {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* estilo do retangulo p/ assinatura */
.assinatura_med {
    width: 730px;
    height: 98px;
    margin-left: 200px; /* margem adicionada para compensar a largura da div dos icones(200px) e centralizar o retangulo */

    display: flex;
    justify-content: center;

    border: 2px solid var(--preto);
}
/* padding do titulo "assinatura do medico" */
.assinatura_med h2 {
    padding-top: 10px;
}
/* tam e posição do icone impressora e download */
.icones-menores {
    max-width: 46px;
}
/* espaçamento entre os icones de impressora e dowload */
.icones_img {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

