/* medidas do banner */
.bg_painel{
    width: 100%;
    height: 205px;
}
/* Fonte e margem do titulo "equipe medica" */
.titulo{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--azul-roxo);
    font-weight: bold;
    font-size: 60px;
}
/* container que possui o banner de bg, está sendo utilizado para alinhar o elemento titulo que esta dentro dele */
.titulo_container{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-image: url(/img/bg_painel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    margin-bottom: 50px;
}
/* faixa branca atras do titulo */
.fundo_titulo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    opacity: 0.7;
}
/* titulo */
.titulo{
    position: absolute;
    right: 40%;
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: 700;
    font-size: 40px;
}