.faixa {
    /* Essa faixa fica acima do cabeçalho */
    /* É aquela faixa azul com telefone e link(botão) "Agende sua consulta" */
    align-items: center;
    background-color: var(--azul-escuro);
    display: flex;
    font-family: var(--texto);
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    justify-content: flex-end;
    width: 100%;
}

.faixa p {
    color: var(--branco);
    margin: 0 5.5%;
}

.faixa a {
    align-items: center;
    background-color: var(--branco);
    border-radius: 5px;
    color: var(--azul-roxo);
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    margin: 0 5.5%;
    min-width: 185px;
    max-width: 208px;
    text-decoration: none;
    text-align: center;
}

.cabecalho__container {
    align-items: center;
    background-color: var(--branco);
    color: var(--azul-roxo);
    display: flex;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--titulo);
    height: 100px;
    justify-content: space-around;
    text-transform: uppercase;
    width: 100%;
}

.logo__cabecalho {
    height: 85px;
    margin: 0 3%;
    max-width: 235px;
    min-width: 150px;
}

.cabecalho__menu__lista {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cabecalho__menu__lista li {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 16px;
    white-space: nowrap;
}

.cabecalho__menu__lista a {
    align-items: center;
    display: flex;
    color: var(--azul-roxo);
    text-decoration: none;
}

.cabecalho__link__login {
    align-items: center;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 3% 0 0;
    text-decoration: none;
    width: 100px;
}

.mobile-menu-amburguer {
    display: none;
    margin-right: 1em;
}

.mobile-menu-amburguer div {
    height: 2px;
    background: var(--azul-roxo);
    margin: 8px;
    width: 32px;
}

.mobile-menu-amburguer:hover {
    cursor: pointer;
}

.mostrarMenu{
    display: block!important;
    animation: fadein 1s alternate;
    -webkit-animation: fadein 1s alternate;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1024px) {
    .cabecalho__menu {
        background: var(--branco);
        display: none;
        height: auto;
        top: 150px;
        right: 0;
        border: 2px var(--branco);
        width: 100%;
        position: absolute;
        z-index: 999;
    }
    
    .cabecalho__menu__lista {
        flex-direction: column;
    }

    .mobile-menu-amburguer {
        display: block;
    }
}
    
@media screen and (max-width: 432px) {
    .faixa {
        font-size: 16px;
        justify-content: space-evenly;
    }
    
    .faixa a {
        margin: 0;
    }
}

/* pagina ADM - painel de controle */

#menu__link__usuario {
    padding-right: 40px;
}

#menu__link__clinica {
    padding-right: 40px;
}

/* --------------------------------- header do painel adm ---------------------------------------- */

#cabecalho_link_adm {
    align-items: center;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 3% 0 0;
    text-decoration: none;
    width: 100px;
}
/* cor do texto "Ola, nome do usuario" */

.cabecalho__container__adm {
    align-items: center;
    background-color: var(--branco);
    color: var(--azul-roxo);
    display: flex;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--titulo);
    height: 100px;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
}

.cabecalho__container__adm a {
    color: var(--azul-roxo);
}
    



