/* tamanho e cor do background */
body{
    background-color: var(--cinza-claro);
    width: 100%;
    height: 500px;
}
/* tamanho dos botões quadrados brancos */
.btn_quadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 230px;
    background-color: var(--branco);
    border-radius: 20px;
    border: 2px solid;
    border-color: var(--preto);
}
/* tamanho dos icones dos botoes dentro dos quadrados brancos */
a>img{
    width: 120px;
    height: 120px;
}
/* tamanho e estilo da fonte dentro dos botoes quadrados */
a>h1{
    font-family: var(--titulo);
    font-weight: 600;
    color: var(--preto);
    padding-top: 20px;
    text-align: center;
}
/* container contendo todos os 4 botoes para alinhamento*/
.container_botoes{
    width: 60%;
    margin-left: 35%;
    margin-right: 5%;
    height: 600px;
    margin-top: -350px;/* valor utilizado para subir o container e alinhar dentro do espaço ao lado da janela azul */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
